VITE_API_BASE_URL=
VITE_API_URL_CONFIG=http://192.168.2.112:9092
VITE_API_TIMEOUT_MS=30000

VITE_AUTH_TOKEN_STORAGE_KEY=base.cms.auth

VITE_AUTH_LOGIN_HOST=
VITE_AUTH_LOGIN_CODE=
VITE_AUTH_LOGIN_FUNCTION=
