VITE_API_BASE_URL=https://api.sagacom.io
VITE_API_URL_CONFIG=https://api.sagacom.io
VITE_API_TIMEOUT_MS=30000

VITE_AUTH_TOKEN_STORAGE_KEY=base.cms.auth

VITE_AUTH_LOGIN_HOST=00vh9.sagacom.io
VITE_AUTH_LOGIN_CODE=00VH9
VITE_AUTH_LOGIN_FUNCTION=